{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="full-screen">
    <div>
      <h1>Landing Page</h1>
      <br>
      <a class="button-line text-hover text-hover-fill-closing-vertical" href="#!">VIEW SITES!</a>
      </div>
  </div>
  <p class="latest_projects">LATEST PROJECTS...</p>

  <div class="cards-list">
  
    <div class="card 1">
      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    
  
      <div class="card 1">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
          <p>Card Title</p>
        </div>
      </div>
    
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
          <div class="card_title title-white">
            <p>Card Title</p>
          </div>
        </div>
        </div>
        <hr>
        <div class="mainnewsletter">
          <h3 class="newsletter">NEWSLETTER</h3>
          <div class="row">
            <div class="col-md-6 notification">
              <p >ARE YOU INTERESTED IN RECEIVING NOTIFICATIONS OF THE BEST RATED WEBSITES AND APPS?</p>
            </div>
            <div class="col-md-6 boxnewsletter">
              <div class="content">
                <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
              <div class="input-group">
                     <input type="email" class="form-control" placeholder="Enter your email">
                     <span class="input-group-btn">
                     <button class="btn btn-dark" type="submit">Subscribe Now</button>
                     </span>
                      </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="card-footer text-muted foot">
          DEVELOPED BY MANASSEH BUNDI
        </div>
{% endblock %}
